In [1]:
import pandas as pd

In [2]:
faults_df = pd.read_csv('../data/J1939Faults.csv')

C:\Users\jacob\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
pd.set_option('display.max_columns', 300)

In [4]:
faults_df.shape

(1187335, 20)

In [5]:
faults_df.dtypes

RecordID                   int64
ESS_Id                     int64
EventTimeStamp            object
eventDescription          object
actionDescription        float64
ecuSoftwareVersion        object
ecuSerialNumber           object
ecuModel                  object
ecuMake                   object
ecuSource                  int64
spn                        int64
fmi                        int64
active                      bool
activeTransitionCount      int64
faultValue               float64
EquipmentID               object
MCTNumber                  int64
Latitude                 float64
Longitude                float64
LocationTimeStamp         object
dtype: object

In [6]:
faults_df.ESS_Id.nunique()

1182354

In [7]:
faults_df['EventTimeStamp'] = faults_df['EventTimeStamp'].astype('datetime64[ns]')

In [8]:
faults_df['LocationTimeStamp'] = faults_df['LocationTimeStamp'].astype('datetime64[ns]')

In [30]:
derates = faults_df[((faults_df['spn'] == 1569) & (faults_df['fmi'] == 31))| (faults_df['spn'] == 5246)]

In [31]:
derates.shape

(12122, 20)

In [32]:
derates = derates[~((derates['Longitude'].astype('str').str.contains(r'-86.43\d+')) &
       (derates['Latitude'].astype('str').str.contains(r'36.06\d+'))
         )]

In [33]:
derates = derates[~((derates['Longitude'].astype('str').str.contains(r'-86.44\d+')) & (derates['Latitude'].astype('str').str.contains(r'35.58\d+')))]

In [34]:
derates = derates[~((derates['Longitude'].astype('str').str.contains(r'-83.17\d+')) & (derates['Latitude'].astype('str').str.contains(r'36.19\d+')))]

In [35]:
derates.shape

(10735, 20)

In [36]:
derates.head()

,RecordID,ESS_Id,EventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,active,activeTransitionCount,faultValue,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp
40,41,990856,2015-02-21 12:06:22,Condition Exists Engine Protection Torque Derate,NaN,05317106*04047493*092613211021*09300006*G1*BDR*,79723635,6X1u13D1500000000,CMMNS,0,1569,31,True,5,NaN,1721,105439606,39.051805,-84.560509,2015-02-21 12:06:57
249,250,993542,2015-02-21 15:01:49,Condition Exists Engine Protection Torque Derate,NaN,05317106*04047493*092613211021*09300006*G1*BDR*,79723635,6X1u13D1500000000,CMMNS,0,1569,31,False,5,NaN,1721,105439606,38.113240,-85.667361,2015-02-21 15:01:45
290,291,994045,2015-02-21 15:35:45,Condition Exists Engine Protection Torque Derate,NaN,05317106*04047493*092613211021*09300006*G1*BDR*,79723635,6X1u13D1500000000,CMMNS,0,1569,31,True,6,NaN,1721,105439606,37.735185,-85.808101,2015-02-21 15:36:21
306,307,994237,2015-02-21 15:51:58,Condition Exists Engine Protection Torque Derate,NaN,05317106*04047493*092613211021*09300006*G1*BDR*,79723635,6X1u13D1500000000,CMMNS,0,1569,31,False,6,NaN,1721,105439606,37.540370,-85.880972,2015-02-21 15:51:54
340,341,994680,2015-02-21 16:22:24,Condition Exists Engine Protection Torque Derate,NaN,05317106*04047493*092613211021*09300006*G1*BDR*,79723635,6X1u13D1500000000,CMMNS,0,1569,31,True,7,NaN,1721,105439606,37.166666,-85.964027,2015-02-21 16:23:00

In [37]:
faults_df['EquipmentID'].nunique()

1927

In [38]:
cumulative_active = pd.DataFrame(derates.groupby(['EquipmentID', 'EventTimeStamp','spn'])['active'].sum().groupby(level = 0).cumsum()).reset_index()

In [39]:
cumulative_active['diff'] = cumulative_active['active'].diff(periods=1)

In [40]:
cumulative_active['diff_time'] = cumulative_active['EventTimeStamp'].diff(periods = 1)

In [41]:
cumulative_active

   EquipmentID      EventTimeStamp   spn  active  diff            diff_time
0          301 2016-07-12 19:11:07  5246       1   NaN                  NaT
1          302 2020-01-06 10:13:57  5246       1   0.0   1272 days 15:02:50
2          302 2020-01-13 12:15:04  5246       1   0.0      7 days 02:01:07
3          302 2020-01-13 13:18:31  5246       2   1.0      0 days 01:03:27
4          302 2020-01-22 21:15:03  5246       2   0.0      9 days 07:56:32
5          302 2020-02-14 11:21:54  5246       3   1.0     22 days 14:06:51
6          302 2020-02-17 17:08:39  5246       3   0.0      3 days 05:46:45
7          304 2016-02-15 10:59:28  5246       1  -2.0 -1464 days +17:50:49
8          304 2016-02-15 11:01:09  5246       1   0.0      0 days 00:01:41
9          305 2015-12-14 18:25:46  5246       1   0.0   -63 days +07:24:37
10         305 2015-12-15 08:16:31  5246       1   0.0      0 days 13:50:45
11         305 2016-01-03 17:49:35  5246       2   1.0     19 days 09:33:04
12         305 2016-01-03 17:53:08  5246       2   0.0      0 days 00:03:33
13         305 2016-02-01 06:15:40  5246       3   1.0     28 days 12:22:32
14         305 2016-02-01 06:17:24  5246       3   0.0      0 days 00:01:44
15         305 2018-09-26 12:37:10  5246       4   1.0    968 days 06:19:46
16         305 2018-10-17 10:57:55  5246       4   0.0     20 days 22:20:45
17         305 2018-11-05 10:33:01  5246       5   1.0     18 days 23:35:06
18         305 2018-11-05 14:11:23  5246       6   1.0      0 days 03:38:22
19         305 2018-11-08 21:54:55  5246       6   0.0      3 days 07:43:32
20         305 2018-11-08 21:55:05  5246       8   2.0      0 days 00:00:10
21         305 2018-11-08 22:09:10  5246       8   0.0      0 days 00:14:05
22         305 2018-11-08 22:13:34  5246       9   1.0      0 days 00:04:24
23         305 2018-11-09 14:42:34  5246       9   0.0      0 days 16:29:00
24         305 2018-11-12 10:43:03  5246      10   1.0      2 days 20:00:29
25         305 2018-11-12 12:24:06  5246      10   0.0      0 days 01:41:03
26         305 2018-11-15 13:00:44  5246      11   1.0      3 days 00:36:38
27         305 2018-11-16 10:09:13  5246      11   0.0      0 days 21:08:29
28         305 2018-11-16 10:25:51  5246      12   1.0      0 days 00:16:38
29         305 2018-11-16 13:12:46  5246      12   0.0      0 days 02:46:55

In [43]:
faults_df[(faults_df['EquipmentID'] == 302) & (faults_df['spn'] == 5246) & (faults_df['fmi'] == 31)]

Empty DataFrame
Columns: [RecordID, ESS_Id, EventTimeStamp, eventDescription, actionDescription, ecuSoftwareVersion, ecuSerialNumber, ecuModel, ecuMake, ecuSource, spn, fmi, active, activeTransitionCount, faultValue, EquipmentID, MCTNumber, Latitude, Longitude, LocationTimeStamp]
Index: []

In [22]:
onboard = pd.read_csv('../data/VehicleDiagnosticOnboardData.csv')

In [23]:
onboard

                Id                      Name        Value  FaultId
0                1                 IgnStatus        False        1
1                2         EngineOilPressure            0        1
2                3      EngineOilTemperature     96.74375        1
3                4        TurboBoostPressure            0        1
4                5                EngineLoad           11        1
...            ...                       ...          ...      ...
12821621  12864020  EngineCoolantTemperature        181.4  1248457
12821622  12864021              ParkingBrake        False  1248457
12821623  12864022    SwitchedBatteryVoltage         14.1  1248457
12821624  12864023               DistanceLtd  28606.65625  1248457
12821625  12864024                LampStatus         1023  1248458

[12821626 rows x 4 columns]

In [24]:
derates['spn'].value_counts()

1569    9797
5246     938
Name: spn, dtype: int64

In [25]:
faults_df['ecuSerialNumber'].nunique()

1989

In [26]:
faults_df['EquipmentID'].nunique()

1927

In [27]:
derates.Latitude.to_list()

[39.051805,
 38.113240000000005,
 37.735185,
 37.54037,
 37.166666,
 37.079444,
 36.770324,
 36.753287,
 30.376435,
 39.638703,
 40.733009,
 25.878518,
 25.860277,
 25.861898,
 28.077361,
 38.288518,
 39.399583,
 39.399583,
 39.399629,
 39.399629,
 36.169027,
 37.596805,
 37.596805,
 37.596851,
 37.596851,
 37.596805,
 37.596805,
 38.966898,
 40.534259000000006,
 40.532962,
 41.225879,
 41.225648,
 41.033333,
 41.022824,
 39.942777,
 39.942777,
 39.943796,
 39.943796,
 39.943564,
 39.943888,
 39.943888,
 39.943888,
 39.945648,
 40.110787,
 40.109212,
 40.912916,
 41.125972,
 41.569907,
 39.970925,
 40.012453,
 40.905,
 40.811851,
 38.271111,
 37.772962,
 37.879722,
 37.572453,
 37.5725,
 37.543611,
 37.852129,
 37.862962,
 37.783009,
 37.772175,
 37.751435,
 37.982222,
 38.101435,
 39.13699,
 39.196203,
 39.518240000000006,
 39.639675,
 36.022268,
 36.182962,
 36.090416,
 34.60787,
 34.927361,
 34.918009000000005,
 34.715648,
 34.699721999999994,
 33.725648,
 33.670138,
 33.51375,
 34.782361,
 34.782361,
 33.514027,
 33.481388,
 33.478009,
 32.951759,
 41.382222,
 34.783333,
 34.783333,
 39.646388,
 39.684861,
 34.783379,
 34.783425,
 35.724768,
 35.556712,
 36.503657,
 41.549537,
 40.230925,
 40.230925,
 39.634166,
 39.539166,
 38.620231,
 38.086064,
 38.086203000000005,
 37.375925,
 37.088472,
 37.088379,
 37.097824,
 36.797222,
 36.796851,
 36.098009000000005,
 36.098009000000005,
 33.593934999999995,
 33.593934999999995,
 34.539398,
 34.187361,
 33.179583,
 33.185092,
 34.166018,
 34.166018,
 38.2875,
 37.931805,
 36.771481,
 36.771805,
 40.941574,
 40.941527,
 39.330277,
 31.472268,
 31.490231,
 39.330277,
 36.280138,
 36.047453,
 35.563981,
 35.111666,
 33.926527,
 33.5675,
 33.553518,
 33.553981,
 33.553333,
 33.555138,
 33.658009,
 33.673472,
 39.314583,
 36.185787,
 36.189351,
 34.229675,
 34.272037,
 34.987916,
 35.146944,
 39.548888,
 35.236805,
 36.182916,
 35.028009000000004,
 35.030231,
 39.657129,
 35.71875,
 39.662129,
 39.655972,
 39.66,
 39.635138,
 39.640925,
 39.708148,
 39.783611,
 40.186574,
 40.235601,
 40.577777000000005,
 40.575555,
 40.442175,
 40.444953000000005,
 40.440416,
 40.43537,
 40.20824,
 40.208888,
 40.023425,
 38.223148,
 38.217222,
 39.8825,
 39.88537,
 39.952962,
 39.952962,
 38.352824,
 38.352129,
 39.953055,
 39.603101,
 39.603055,
 39.603055,
 39.598564,
 39.96787,
 38.349027,
 38.349074,
 39.589444,
 39.608472,
 40.330972,
 40.328842,
 40.328935,
 40.326342,
 38.153888,
 38.157268,
 37.427453,
 37.411805,
 36.717731,
 36.702546000000005,
 36.456481,
 36.437453000000005,
 39.639259,
 39.639305,
 39.639305,
 38.277268,
 38.293935,
 39.694212,
 39.698425,
 39.957824,
 40.705046,
 40.715046,
 39.855416,
 40.648518,
 40.647638,
 40.653842,
 40.646296,
 40.427453,
 40.326712,
 40.235925,
 40.235925,
 40.242592,
 40.245694,
 40.464074,
 40.475787,
 40.47662,
 40.477731,
 40.483148,
 40.473888,
 40.269768,
 39.92324,
 39.921898,
 39.924351,
 39.831851,
 39.660231,
 39.660601,
 39.657407,
 39.405648,
 39.398101,
 39.250787,
 39.274583,
 39.358009,
 39.355601,
 39.162129,
 39.16537,
 38.904814,
 38.895462,
 38.616759,
 38.576388,
 37.932407,
 37.926203,
 37.932638,
 37.932824,
 37.882222,
 37.875648,
 37.658518,
 37.649768,
 40.120833000000005,
 37.390925,
 37.372546,
 39.954814,
 40.01537,
 37.185694,
 37.18037,
 36.94662,
 36.948611,
 36.806805,
 36.80912,
 36.560324,
 36.546018,
 36.229212,
 36.224722,
 36.009444,
 35.997268,
 35.881018,
 35.882129,
 35.882175,
 35.87037,
 35.908425,
 35.913518,
 36.139953000000006,
 36.140833,
 36.172361,
 36.169814,
 36.179444,
 36.18074,
 36.126666,
 36.111712,
 40.075138,
 40.044259,
 39.994166,
 40.120324,
 40.201435,
 35.983287,
 39.643055,
 39.590185,
 39.491203000000006,
 36.96824,
 36.953888,
 38.028425,
 35.680046000000004,
 36.698333,
 35.680046000000004,
 37.754675,
 37.165092,
 37.087037,
 36.877175,
 36.824814,
 36.362638,
 36.378379,
 35.718796000000005,
 34.949351,
 34.919259000000004,
 37.880925,
 39.682546,
 39.68037,
 39.657824,
 39.657314,
 39.65787,
 39.664259,
 38.916342,
 38.913425,
 38.385138,
 38.38125,
 38.267777,
 38.256574,
 36.395601,
 36.301064,
 36.5375,
 36.533148,
 38.155925,
 38.155833,
 38.155833,
 35.264259,
 35.264259,
 41.527314,
 41.444629,
 38.349166,
 36.110185,
 37.271203,
 31.970231,
 32.549166,
 38.378981,
 39.952962,
 33.619212,
 33.409861,
 39.952916,
 39.952916,
 42.758842,
 43.350555,
 43.016666,
 42.531435,
 41.892685,
 40.978981,
 40.370092,
 39.902777,
 38.898287,
 38.457824,
 38.116388,
 38.347314,
 38.983564,
 38.983564,
 38.983518,
 38.983518,
 38.129166,
 38.040833,
 36.60574,
 36.019814000000004,
 36.100277,
 36.116805,
 36.116388,
 36.109027000000005,
 35.873287,
 36.108657,
 35.948148,
 35.733379,
 39.94537,
 39.94537,
 36.783194,
 37.303796000000006,
 37.292962,
 37.502546,
 37.081666,
 37.178333,
 35.758472,
 35.766712,
 35.901435,
 35.541944,
 36.125972,
 36.173842,
 36.140416,
 36.131759,
 36.113055,
 34.116527000000005,
 34.117546000000004,
 39.620925,
 39.620925,
 39.620833000000005,
 39.619398,
 34.270833,
 34.302824,
 34.995601,
 35.023657,
 35.421434999999995,
 35.452870000000004,
 35.444722,
 35.439166,
 35.450185,
 35.456944,
 35.858611,
 35.861666,
 35.218472,
 35.212083,
 34.377037,
 34.378240000000005,
 34.154166,
 34.142314,
 33.990462,
 33.988703,
 33.703472,
 33.702824,
 33.545277,
 33.546018,
 33.502638,
 33.496805,
 33.06412,
 33.033148,
 33.539537,
 33.532685,
 33.547222,
 33.54912,
 33.92037,
 33.920185,
 34.08125,
 34.07949,
 34.368981,
 34.381805,
 34.957314000000004,
 34.967685,
 35.237824,
 35.279166,
 35.933564000000004,
 35.933611,
 35.884675,
 35.893240000000006,
 36.168194,
 36.179120000000005,
 36.521064,
 36.531759,
 36.819166,
 36.829537,
 37.624629,
 37.624629,
 39.628657,
 39.639166,
 40.325462,
 40.334953000000006,
 41.289259,
 41.288796000000005,
 41.521898,
 41.520416,
 36.139027,
 36.140648,
 36.135879,
 40.086481,
 40.073611,
 35.571805,
 35.572453,
 37.302638,
 37.279537,
 36.552175,
 36.551712,
 36.302453,
 36.300972,
 35.858888,
 35.860833,
 35.453055,
 35.454861,
 35.366944000000004,
 35.349722,
 34.167777,
 34.153518,
 33.832777,
 33.813611,
 32.658055,
 32.644444,
 32.468518,
 32.472268,
 32.453194,
 32.450509000000004,
 31.787824,
 31.773472,
 35.821111,
 36.151018,
 36.150972,
 36.045509,
 36.527268,
 36.944814,
 36.951435,
 42.612453,
 41.389074,
 35.986296,
 35.986157,
 36.797222,
 37.146898,
 32.332268,
 32.342453000000006,
 37.329722,
 32.984583,
 32.992546000000004,
 33.505555,
 33.527083000000005,
 34.008518,
 34.042407,
 34.574953,
 34.585462,
 34.896759,
 34.905277000000005,
 35.043240000000004,
 35.039074,
 35.554120000000005,
 35.568101,
 40.340787,
 38.222453,
 35.191296,
 35.1625,
 35.021898,
 34.948287,
 34.722037,
 38.08625,
 38.185879,
 33.96162,
 38.619259,
 39.013148,
 39.538935,
 35.194398,
 35.146018,
 35.146064,
 35.14625,
 36.822962,
 39.337314,
 37.035324,
 39.692129,
 35.175,
 34.888935,
 33.208981,
 33.208888,
 33.417824,
 33.418425,
 33.620231,
 33.599814,
 42.176111,
 42.176111,
 42.177685,
 42.176666,
 39.636712,
 40.211712,
 35.928287,
 35.806481,
 35.80787,
 36.144953,
 36.13875,
 36.180324,
 36.002824,
 36.114537,
 36.186898,
 38.454351,
 38.70912,
 39.640138,
 36.183287,
 39.943842,
 38.266296,
 38.198981,
 38.1625,
 38.165694,
 38.060138,
 37.980324,
 37.98037,
 39.973935,
 39.948379,
 36.06699,
 36.135092,
 39.587083,
 36.171759,
 36.73125,
 36.734583,
 36.735,
 36.651018,
 35.965787,
 34.57662,
 34.577268,
 29.268981,
 29.269027,
 35.594907,
 35.617731,
 29.269166,
 29.172592,
 28.019351,
 28.019351,
 28.01949,
 28.019398,
 28.009351,
 28.018055,
 37.455740000000006,
 37.455694,
 28.876388,
 28.873935,
 30.424444,
 30.427268,
 30.426388,
 37.455648,
 37.474537,
 35.785462,
 30.449027,
 30.284814,
 35.429351000000004,
 30.289027,
 39.948148,
 39.942916,
 35.049074,
 35.725092,
 39.645277,
 39.645277,
 31.764629,
 31.858657,
 35.433657000000004,
 35.434027,
 35.434027,
 35.434027,
 35.434074,
 35.440878999999995,
 35.480509000000005,
 35.588425,
 35.541944,
 35.558055,
 36.51787,
 36.660509000000005,
 33.991064,
 33.923564,
 34.273194000000004,
 32.518240000000006,
 34.661712,
 32.596759000000006,
 35.724212,
 35.724212,
 35.724722,
 35.724675,
 36.471898,
 37.475231,
 36.093842,
 35.987453,
 29.978333000000003,
 29.981435,
 34.655925,
 34.655509,
 38.561203000000006,
 38.571296,
 38.943333,
 39.012453,
 39.590787,
 39.611296,
 36.229027,
 36.229212,
 36.229398,
 39.681296,
 39.691805,
 36.229351,
 35.872731,
 35.872731,
 34.953518,
 34.87375,
 35.429444000000004,
 35.426527,
 35.929675,
 33.780046,
 36.660416,
 36.660416,
 36.660416,
 37.776203,
 38.936435,
 38.936851,
 38.937777,
 36.362962,
 36.361111,
 34.521712,
 35.915601,
 35.555277000000004,
 40.217592,
 40.80375,
 40.804027000000005,
 40.803564,
 39.944953000000005,
 39.952916,
 36.012962,
 36.660416,
 41.799212,
 41.654722,
 41.537685,
 41.541851,
 41.577638,
 41.577592,
 41.287685,
 41.287685,
 39.961342,
 39.948518,
 34.14412,
 34.870462,
 34.8475,
 34.420555,
 34.419814,
 34.419814,
 34.139537,
 34.137777,
 34.643888000000004,
 38.797037,
 37.420324,
 37.829351,
 35.874768,
 36.535138,
 35.596018,
 37.086805,
 38.65324,
 39.064768,
 35.840694,
 39.188009,
 39.158842,
 35.200555,
 35.119444,
 35.247453,
 35.447314,
 35.447314,
 35.4475,
 35.448935,
 35.555879,
 35.817083000000004,
 35.817314,
 37.99662,
 39.416759000000006,
 38.840925,
 38.003055,
 36.797268,
 38.179305,
 36.697129,
 36.697592,
 36.698518,
 36.350879,
 37.269444,
 36.350925,
 36.350925,
 34.275787,
 34.02125,
 34.021064,
 34.021157,
 34.528472,
 36.243564,
 35.015415999999995,
 35.45625,
 35.297731,
 35.298425,
 35.298425,
 34.118333,
 37.929166,
 37.831157,
 37.757824,
 29.978101,
 36.351296000000005,
 36.276388,
 35.152407000000004,
 35.076018,
 34.948240000000006,
 34.938703000000004,
 32.247129,
 32.222037,
 31.96074,
 31.959074,
 28.01287,
 28.015277,
 41.158703,
 41.171342,
 41.171342,
 30.870138,
 30.818842,
 28.874212,
 35.721435,
 30.395925,
 30.679537,
 41.142222,
 41.137083,
 41.108564,
 37.218472,
 32.419259000000004,
 32.491203000000006,
 32.507037,
 34.881898,
 34.906341999999995,
 38.767777,
 34.801666,
 34.763935,
 34.764722,
 34.538194,
 36.698055,
 36.698055,
 36.698240000000006,
 36.698240000000006,
 30.070185,
 33.172916,
 33.290324,
 37.078888,
 38.348981,
 38.349027,
 30.613425,
 38.348842,
 38.348935,
 38.348703,
 33.461898,
 37.32412,
 33.931759,
 33.968934999999995,
 30.754675,
 34.418240000000004,
 34.418240000000004,
 28.685833,
 28.415694,
 28.410601,
 42.593842,
 42.593379,
 28.874305,
 28.873981,
 35.019721999999994,
 30.471296,
 30.471388,
 30.471064,
 30.376805,
 32.045925,
 34.648564,
 34.648009,
 34.149583,
 34.619074,
 34.619074,
 35.483703000000006,
 35.58824,
 36.187546000000005,
 35.875648,
 34.767962,
 40.636898,
 40.636712,
 40.637129,
 37.097731,
 40.516203,
 29.265324,
 29.265972,
 34.559907,
 40.091157,
 39.522546000000006,
 39.518287,
 39.518287,
 39.755787,
 36.014722,
 39.952916,
 39.646018,
 39.646018,
 35.998425,
 35.998425,
 35.980277,
 35.943287,
 36.015509,
 35.263148,
 39.639212,
 40.050555,
 39.670601,
 39.664398,
 37.522916,
 39.664351,
 39.664351,
 36.036296,
 36.110092,
 36.402361,
 37.39162,
 36.731018,
 36.73662,
 36.73662,
 36.795648,
 36.79662,
 38.044861,
 38.044814,
 38.044814,
 36.038009,
 37.988425,
 37.801481,
 37.801481,
 37.801527,
 37.801527,
 38.135601,
 38.448842,
 38.289074,
 39.717824,
 39.638148,
 40.231944,
 39.715462,
 38.156527,
 38.156527,
 38.156481,
 38.220324,
 39.945092,
 39.412685,
 39.412777,
 38.167916,
 39.396666,
 40.48162,
 35.660046,
 40.225879,
 35.046342,
 35.046342,
 35.046342,
 40.228611,
 37.830694,
 40.229027,
 40.231388,
 40.700787,
 35.02037,
 41.24824,
 35.679351000000004,
 35.679259,
 35.679120000000005,
 35.902037,
 41.248657,
 37.074907,
 37.074907,
 37.074907,
 37.079907,
 38.276805,
 38.342129,
 37.381944,
 37.381944,
 37.381944,
 37.481851,
 37.725694,
 37.826111,
 34.399814,
 38.247407,
 35.609074,
 37.93074,
 37.930277,
 38.2475,
 38.2475,
 37.211111,
 36.10949,
 36.109537,
 36.109629,
 36.110185,
 41.655185,
 41.473148,
 38.404583,
 38.404027,
 40.22787,
 40.227546,
 37.82699,
 40.086111,
 39.518055,
 39.150555,
 37.905694,
 37.416805,
 40.086759,
 37.239907,
 40.147407,
 39.631481,
 39.632592,
 35.459768,
 37.927777,
 37.928148,
 37.92824,
 37.928518,
 37.9325,
 36.1875,
 35.703379,
 35.821712,
 37.044861,
 35.872638,
 37.522361,
 38.34949,
 37.826157,
 36.202129,
 36.687175,
 31.958194,
 34.662407,
 38.434212,
 38.966898,
 28.009907,
 34.870833000000005,
 34.871157000000004,
 34.870833000000005,
 40.242037,
 40.246851,
 34.960648,
 34.960601000000004,
 36.109537,
 30.471342,
 30.471388,
 ...]